{% extends "../../base.html" %}
{% load static %}
{% block title %}StudWork-Director{% endblock title %}

{% block style %}
{% endblock style %}


{%block script %}<script src="{% static 'StudWorkApp/js/Director.js' %}"></script>{% endblock script %}


{% block headers %}
    <a href="../../../../accounts/login/"; class="close">Выход</a>
            <table class="table_price">
            <nav class="top-menu">
                <ul class="menu-main">
                    {% if user.is_authenticated %}
                        <li style="color:white"> <h2>Добро пожаловать: {{ user.get_username }} Ваш статус: {{ request.user.groups.get}}</h2></li>
                    {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
{% endblock %}

{% block content %}
    <h1>Список работ</h1>
    <tr><p><br><br></p></tr>
    <h5 style="color:sandybrown">{{ msg }}</h5>
                    <tr>
                        <td><h3>{{ subject }} ({{ type_work }}) </h3> {{ github }}</td>
                        <td id="but"><a href="{% url 'dir_tz' pk=id_work %}"><button>ТЗ</button></a></td>
                        <td id="but"><a href="{% url 'dir_kp' pk=id_work %}"><button>КП</button></a></td>
                    </tr>
            <br>
          <a href="{% url 'director' %}"><button type="button" class="button" onclick="closeForm(1)" id="zak">Закрыть</button></a>

    </table>
          <form  class="form-container" id="Progress" method="post">
          {% csrf_token %}
              <p><h1>Оценить процент выполнения</h1></p>
              <p><label for="name"><b>Процент выпонения</b></label></p>
              <p>{{ r_form.percent_done }}</p>
              <p><label for="name"><b>Тема утвержденна</b></label></p>
              <p>{{ t_form.topic_accept }}</p>
              <p><label for="name"><b>Работа выполнена</b></label></p>
              <p>{{ d_form.rpz_accept }}</p>
              <button type="submit" class="btn">Оценить</button>
          </form>
{% endblock content %}
